{% extends "base.html" %}

{% block title %}Страница со всеми задачами{% endblock %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}
<a class="btn btn-primary" href="/create_task">Добавить задание</a>

<table class="table">
  <thead>
    <tr>
      <th><input type="checkbox" name="task"></th>
      <th scope="col">Название</th>
      <th scope="col">Описание</th>
      <th scope="col">Преподаватели</th>
      <th scope="col">Студенты</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
    <tr>
        <td><input type="checkbox" name="task"></td>
        <td><a href="{{task.get_absolute_url}}">{{task.name}}</a></td>
      <td>{{task.description}}</td>
      <td>
          {% for teacher in task.Teacher.all %}
            {{teacher.first_name}} {{teacher.last_name}},
          {% endfor %}
      </td>
      <td>
          {% for student in task.Student.all %}
            {{student.first_name}} {{student.last_name}},
          {% endfor %}
      </td>
      <td>{{task.status}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}