{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>

<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Войти</button>
</form>
<script
    async src="https://telegram.org/js/telegram-widget.js?14"
    data-telegram-login="StudygramTelegramBot"
    data-size="medium"
    data-userpic="false"
    data-auth-url="https://a4785b96c9b6.ngrok.io/auth/complete/telegram"
    data-request-access="write">
</script>
</body>
</html>