{% extends "base.html" %}

{% block title %}Страница со всеми курсами{% endblock %}

{% block sidebar %}
<ul class="list-group">
    {% for status in statuses %}
    <li class="list-group-item"><a href="{% url 'courses' %}?status={{ status.pk }}">{{ status.name }}</a></li>
    {% endfor %}
</ul>

<ul class="list-group"  Style="margin-top: 5rem;">
    <select class="form-select" size="5"  id="teacher-select"onchange="location = this.value" placeholder="Преподаватели">
      {% for teacher in teachers %}
        <option value="{% url 'courses' %}?teacher={{ teacher.id }}"> {{teacher}} </option>
        {% endfor %}
    </select>
</ul>

<ul class="list-group" Style="margin-top: 5rem;">
    <select class="form-select" size="5"  id="student-select"onchange="location = this.value" placeholder="Преподаватели">
      {% for student in students %}
        <option value="{% url 'courses' %}?student={{ student.id }}"> {{student}} </option>
        {% endfor %}
    </select>
</ul>

{% endblock %}


{% block content %}
<a class="btn btn-primary" href="/create_course" >Добавить курс </a>
<button type="submit" class="btn btn-primary" id="delete-button">Удалить</button>
<table class="table table-bordered" id="courses-table" Style="margin-top: 2rem;">
  <thead>
    <tr>
      <th><input type="checkbox" name="course"></th>
      <th scope="col">Название</th>
      <th scope="col">Преподаватели</th>
      <th scope="col">Студенты</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody>
  {% for course in courses %}
    <tr id="course">
        <td><input type="checkbox" name="course" value="{{course.pk}}"></td>
      <td><a href="{{course.get_absolute_url}}">{{course.name}}</a></td>
      <td>
          {% for teacher in course.teachers.all %}
            {{teacher.first_name}} {{teacher.last_name}}
          {% endfor %}
      </td>
      <td>
          {% for student in course.students.all %}
            {{student.first_name}} {{student.last_name}},
          {% endfor %}
      </td>
      <td>{{course.status}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if is_paginated %}
  <ul class="pagination pagination-sm">
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} </span></li>
      {% else %}
        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

  </ul>
{% endif %}

{% endblock %}
