{% extends "base.html" %}

{% block sidebar %}
{% include 'inc/_sidebar_courses.html' %}
{% endblock %}

{% block content %}
<div class="flex-column main_block">
    <div id="courses" class="block_in_main">
        <div class="container-fluid main_block_header">
            <div class="main_block_title">Таблица курсов</div>
            <div>
                <a class="btn btn-success" href="/create_course">
                    <i class="bi bi-plus"></i>
                    &#32;Создать курс
                </a>
            </div>
        </div>
        <div class="main_block_page">
            {% include 'inc/_table_head.html'%}
            <hr>

            <div class="d-flex flex-row main_block_header_elem">
                <div class="col-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"  name="course" value="">
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-start">Название курса</div>
                <div class="col"></div>
                <div class="col-2 d-flex justify-content-start">Преподаватели</div>
                <div class="col"></div>
                <div class="col-3 d-flex justify-content-start">Студенты</div>
                <div class="col"></div>
                <div class="col-2 d-flex justify-content-start">Статус</div>
                <div class="col"></div>
            </div>
             {% for course in courses %}
            <div class="d-flex flex-row task align-center align-items-center elem">
                <div class="col-1">
                    <div class="form-check">
                        <input class="form-check-input courses" type="checkbox" value="{{course.pk}}">
                        <input type="hidden" name="course-li" value="{{course.pk}}">
                    </div>

                </div>
                <div class="col-3 d-flex justify-content-start content_size text-primary"><a href="{{course.get_absolute_url}}">{{course.name}}</a></div>
                <div class="col"></div>
                <div class="col-2 d-flex justify-content-start content_size">
                    {% for teacher in course.teachers.all %}
                        {{teacher.first_name}} {{teacher.last_name}}
                    {% endfor %}
                </div>
                <div class="col"></div>
                <div class="col-3 d-flex justify-content-start content_size">
                    {% for student in course.students.all %}
                        {{student.first_name}} {{student.last_name}},
                    {% endfor %}
                </div>
                <div class="col"></div>
                <div class="col-2 d-flex justify-content-start">
                    {% if course.status.name == 'Активный' %}
                        <i class="bi bi-dot text-success"></i>
                        <span class="text-success">{{course.status}}</span>
                    {% else %}
                        <i class="bi bi-dot text-danger"></i>
                        <span class="text-danger">{{course.status}}</span>
                    {% endif %}
                </div>
                <div  class="col d-flex justify-content-end">
                    <ul class="navbar-nav dropdown">
                        <li class="nav-item" role="tab">
                            <i class="bi bi-three-dots-vertical dropdown-toggle text-secondary other" data-bs-toggle="dropdown" id="taskDropdown"></i>
                            <ul id="ul_id" class="dropdown-menu" aria-labelledby="taskDropdown">
                                <li class="dropdown-header">Прочее</li>
                                <li class="dropdown-item delete-course-button" data-item-id="{{course.pk}}">Удалить</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            {% include 'inc/_pagination.html' %}
        </div>
    </div>
</div>
{% endblock %}
