{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form action="{% url 'create_task' %}" method="post">
    {% csrf_token %}
    <div style="height: auto; margin-right: 2rem; padding-top: 7rem; padding-left: 2rem;
                margin-bottom: 3rem;}">
        {{ form|crispy}}
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block" style="margin-top: 2rem;">Добавить задание</button>
        </div>
    </div>
</form>

{% endblock %}