{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Studygram</title>
</head>
<body>
{% include 'inc/_nav.html' %}

{% block sidebar %}{% endblock %}
{% block content %}{% endblock %}



<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'js/courses.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script>
  $(document).ready(function(){
    var teachers_mas = {{teachers | safe}};
    var students_mas = {{students | safe}};              //  получение массива студентов

    for(var i = 0; i < 3; i++){
        $('#fil_teach .filter > a').eq(i).text(teachers_mas[i]['name']+' '+teachers_mas[i]['surname']).attr('href','{% url 'courses' %}?teacher='+teachers_mas[i]['id']);           //  заполнить списки первыми элементами массива
        $('#fil_stud .filter > a').eq(i).text(students_mas[i]['name']+' '+students_mas[i]['surname']).attr('href','{% url 'courses' %}?student='+students_mas[i]['id']);
    }

    $('.menu_left input').on('input', function(){                       //  найти input в классе .menu_left (боковое меню) в котором происходит ввод
        var main_arr = [];                                              //  главный массив
        if($(this).parent().prop('id') == 'fil_teach'){                 //  если id родителя, кликнутого input, fil_teach (фильтр по учителю)
            main_arr = teachers_mas;                                   //  то основной массив - массив учителей
        }else{
            main_arr = students_mas;                                   // иначе массив студентов основной
        }
        $(this).parent().find('.filter').css('display','block');        //  найти элементы с классом .filter в родителе инпута и сделать видемыми
        $(this).parent().find('.no_results').css('display','none');     //  найти элементы с классом .no_results в родителе инпута и сделать невидемыми
        var text_input =  $(this).val();                                //  получить вводимое значение
        text_input = text_input.toLowerCase();
        var rez = [];                                                   //  массив с результатом поиска
        for(var i = 0; i < main_arr.length; i++){                       //  в каждом слове основного массива
            if((main_arr[i]['name'].toLowerCase().indexOf(text_input) !== -1) || (main_arr[i]['surname'].toLowerCase().indexOf(text_input) !== -1)){                 //  найти вводимое значение
                rez.push(main_arr[i]);                                  //  и записать в массив rez
            }
        }
         for(var i = 0; i < 3; i++){
            $(this).parent().find('href').eq(i).text("");
        }
        if(rez.length < 3){                                                                 //  если длина массива с найденными элементами меньше 3
            if(rez.length == 0){                                                            //  если длина массива с нацденными элементами = 0
                $(this).parent().find('.filter').css('display','none');                     //  то скрыть все блоки с классом .filter
                $(this).parent().find('.no_results').css('display','block');                //  показать блок с классом .no_results
            }else{
                for(var i = 0; i < rez.length; i++){                                        //  если длина не 0, но < 3
                    $(this).parent().find('a').eq(i).text(rez[i]['name']+' '+rez[i]['surname']).attr('href',window.location.href+'?teacher='+rez[i]['id']);                    //  то i-му элементу класса .filter дать значение i-го эелемента массива rez
                }
                $(this).parent().find('.filter').slice(rez.length).css('display','none');   //  а все остальные блоки, большbt длинны массива rez, класса .filter скрыть
            }
        }else{                                                                              //  иначе, если длина = 3
            for(var i = 0; i < 3; i++){
                $(this).parent().find('a').eq(i).text(rez[i]['name']+' '+rez[i]['surname']).attr('href', window.location.href+'?student='+rez[i]['id']);                        //  i-му элементу класса .filter дать значение i-го эелемента массива rez
            }
        }
    });
  });
</script>
</body>
</html>