<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed header">
    <div class="container-fluid">
        <a class="navbar-brand text-uppercase" href="{% url 'courses' %}">Studygram</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-pills me-auto mb-2 mb-lg-0"  role="tablist">
                <li class="nav-item"  role="tab">
                    <a class="nav-link active" aria-current="page" href="{% url 'courses' %}">Курсы</a>
                </li>
                <li class="nav-item" role="tab">
                    <a class="nav-link" href="#">Задания</a>
                </li>
                <li class="nav-item" role="tab">
                    <a class="nav-link" href="#">Встречи</a>
                </li>
            </ul>

            <ul class="navbar-nav dropdown">
                <li class="nav-item" role="tab">
                    <a class="nav-link dropdown-toggle settings" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="photo_user"></div>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Профиль</a></li>
                        <li><a class="dropdown-item" href="#">Выход</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"  role="tab">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" id="name_user">Андрей Андреев</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
