    <div class="container flex-column position-fixed fixed-right menu_left">
        <form class="form-inline">
            <div class="filters" id="fil_teach">
                <div class="input-group">
                    <input type="search" id="filter_teacher" disabled class="form-control block_filters" placeholder="ПРЕПОДАВАТЕЛИ">
                    <div class="input-group-append">
                        <span id="filter_teacher_del" class="input-group-text block_filters" role="button">
                            <i class="bi bi-x"></i>
                        </span>
                    </div>
                </div>
                <input id="search_teacher" class="form-control block_filters" placeholder="Поиск..." type="text" autocomplete="off">
                <ul class="navbar-nav">
                    <li class="nav-item filter"><a href="#"></a></li>
                    <li class="nav-item filter"><a href="#"></a></li>
                    <li class="nav-item filter"><a href="#"></a></li>
                    <li class="nav-item no_results btn disabled">Результатов не найдено</li>
                </ul>
            </div>
            <div class="filters"  id="fil_stud">
                <div class="input-group">
                    <input type="text" id="filter_student" disabled class="form-control block_filters" placeholder="СТУДЕНТЫ">
                    <div class="input-group-append">
                        <span id="filter_student_del" class="input-group-text block_filters" role="button">
                            <i class="bi bi-x"></i>
                        </span>
                    </div>
                </div>
                <input type="text" class="form-control block_filters" placeholder="Поиск...">
                <ul class="navbar-nav">
                    <li class="nav-item filter"><a href="#"></a></li>
                    <li class="nav-item filter"><a href="#"></a></li>
                    <li class="nav-item filter"><a href="#"></a></li>
                    <li class="nav-item no_results btn disabled">Результатов не найдено</li>
                </ul>
            </div>
            <div class="filters" id="fil_stas_cour">
                <div class="input-group">
                    <input type="text" id="filter_status_course" disabled class="form-control block_filters" placeholder="ПО СТУТУСАМ">
                    <div class="input-group-append">
                        <span  id="filter_status_del" class="input-group-text block_filters" role="button">
                            <i class="bi bi-x"></i>
                        </span>
                    </div>
                </div>
                <ul class="navbar-nav">
                    {% for status in statuses %}
                    <li class="nav-item filter">{{status}}</li>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>