<div class="container-fluid row">
    <div class="col-10 d-flex justify-content-start">
        <form class="d-flex">
        <select id="options" class="form-select size_actions" aria-label="Default select example">
            <option selected>Действия</option>
            <option id="delete" value="1">Удалить</option>
        </select>
        <button id="btnsubmit" type="submit" class="btn btn-success size_actions">
            Применить
        </button>
        </form>
    </div>
    <div class="col-2">
        <form class="d-flex justify-content-end">
            <input type="text" class="form-control search" name="search" placeholder="Поиск">
        </form>
    </div>
</div>